body{
    background: #000;
    min-height: 90vh;
/*
    display: flex;
    justify-content: center;
    align-items: center;
*/
}
.color-picker{
    position: relative;
}
#color-indicator{
/*    display: inline-block;*/
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    vertical-align: middle;
}
#color-picker{
/*    display: inline-block;*/
    vertical-align: middle;
    margin-top: 250px;
    position: absolute;
      left: 50%;
      transform: translateX(-50%);
}
svg{
    margin-top: 0px;
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#values{
    color:white;
    font-size: 1rem;
    font-family: monospace;
}